body {
  padding: 0;
  margin: 0;
  /* background-color: #eee; */
}

:root {
  --cover-size: 100px;
}

@font-face {
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  font-family: rbt;
}

* {
  font-family: rbt;
}

a {
  text-decoration: none;
  color: black;
  backface-visibility: hidden;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

.icon-button:active {
  background-color: #eee;
}

input {
  outline: none;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 15px;
  height: 40px;
  box-shadow: 0 2px 6px 2px #ddd;
}

.header > div {
  display: flex;
  align-items: center;
}

main {
  padding-bottom: 70px;
}

.btn-more {
  display: block;
  margin: 10px auto;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 20px);
  display: none;
}

.btn-more:active {
  opacity: .6;
}

.btn-more i {
  margin-left: 10px;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  margin-left: 20px;
}

.music {
  display: flex;
  height: var(--cover-size);
  border: 1px solid #eee;
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.music .cover {
  width: var(--cover-size);
  height: var(--cover-size);
  background: url(../assets/img/image.svg) no-repeat center center/20px;
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px dotted #ddd;
}

.music .details {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.music .details > div {
  flex: 1;
}

.music .details .icon-button {
  margin-right: 10px;
}

.music .details .badge {
  /* background-color: #00800056; */
  color: green;
  width: 70px;
  border-radius: 25px;
  font-size: 12px;
}

.music .title {
  font-size: 14px;
}

.player {
  background-color: #ffffffee;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.player .controllers {
  display: flex;
}

.player-alt {
  background-color: #ffffffee;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
  right: 0;
  left: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* Sidebar */
.sidebar-container {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #00000034;
}

.sidebar {
  left: -80%;
  width: 80%;
  background-color: #ffffffee;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.sidebar .item {
  display: block;
  padding: 20px 10px;
  color: #666;
}

.sidebar .item i {
  margin-right: 10px;
  color: green;
}

.sidebar #premium {
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  color: green;
  display: block;
  margin: 10px;
  text-align: center;
}

@media (min-width: 414px) {
  body {
    display: none;
  }
}